/* Error: Can't find stylesheet to import.
 *   ,
 * 8 |     @import "mobilemenu";
 *   |             ^^^^^^^^^^^^
 *   '
 *   scss/styles.scss 8:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 8 \2502      @import \"mobilemenu\";\a   \2502              ^^^^^^^^^^^^\a   \2575 \a   scss/styles.scss 8:10  root stylesheet";
}

.wish-kid-image {
  display: block;
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 1rem auto;
}

@media only screen and (max-width: 34.9375rem) {
  .wish-kid-image {
    max-width: 260px;
  }
}
