$primaryColor: #0e72dd00;
$secondaryColor: rgb(246, 83, 83);
$tertiaryColor: #021d68;
$fontColor: #000000;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;